{% extends 'layouts/art.html' %}
{% block title %}-Paintings{% endblock %}
{% block art %}Paintings{% endblock %}
{% block links %} 
<link rel="stylesheet" href="/static/css/painting.css">
{% endblock %}
{% block content %}
{% for painting in paintings%}
<div class="col-6 col-lg-3 mb-5">
    <div class="card w-auto h-auto text-center">
        <a href="paint" target="_blank"><img class="img-fluid" src="{{url_for('static',filename='/img/'+painting.images)}}" alt=""></a>
        <div class="card-body">
            <h5 class="card-title text-black">{{ painting.title }}</h5>
            <p class="card-text text-black">{{ painting.description }}</p>
            <a class="btn btn-custom" href="{{url_for('single_product',product_id=painting.item_id)}}" target="_blank">Learn More</a>           
        </div><!--//card-body-->
    </div><!--//card-->
</div><!--//col-->
{% endfor %}
{% endblock %}