
body {
    color: #777777;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    background-image: url("/static/img/art22.jpg");
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    z-index: -100;
    padding-top: 20px;
}

.form-control:not(textarea) {
    height: 44px;
}
.form-control {
    padding: 0 18px 3px;
    border: 1px solid #dbe2e8;
    border-radius: 22px;
    background-color: #fff;
    color: #606975;
    font-family: "Maven Pro",Helvetica,Arial,sans-serif;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.shopping-cart,
.wishlist-table,
.order-table {
    margin-bottom: 20px;
    padding-top: 50px;
}

.shopping-cart .table,
.wishlist-table .table,
.order-table .table {
    margin-bottom: 0
}

.shopping-cart .btn,
.wishlist-table .btn,
.order-table .btn {
    margin: 0
}

.shopping-cart>table>thead>tr>th,
.shopping-cart>table>thead>tr>td,
.shopping-cart>table>tbody>tr>th,
.shopping-cart>table>tbody>tr>td,
.wishlist-table>table>thead>tr>th,
.wishlist-table>table>thead>tr>td,
.wishlist-table>table>tbody>tr>th,
.wishlist-table>table>tbody>tr>td,
.order-table>table>thead>tr>th,
.order-table>table>thead>tr>td,
.order-table>table>tbody>tr>th,
.order-table>table>tbody>tr>td {
    vertical-align: middle !important
}

.shopping-cart>table thead th,
.wishlist-table>table thead th,
.order-table>table thead th {
    padding-top: 17px;
    padding-bottom: 17px;
    border-width: 1px
}

.shopping-cart .remove-from-cart,
.wishlist-table .remove-from-cart,
.order-table .remove-from-cart {
    display: inline-block;
    color: #ff5252;
    font-size: 18px;
    line-height: 1;
    text-decoration: none
}

.shopping-cart .count-input,
.wishlist-table .count-input,
.order-table .count-input {
    display: inline-block;
    width: 100%;
    width: 86px
}

.shopping-cart .product-item,
.wishlist-table .product-item,
.order-table .product-item {
    display: table;
    width: 100%;
    min-width: 150px;
    margin-top: 5px;
    margin-bottom: 3px
}

.shopping-cart .product-item .product-thumb,
.shopping-cart .product-item .product-info,
.wishlist-table .product-item .product-thumb,
.wishlist-table .product-item .product-info,
.order-table .product-item .product-thumb,
.order-table .product-item .product-info {
    display: table-cell;
    vertical-align: top
}

.shopping-cart .product-item .product-thumb,
.wishlist-table .product-item .product-thumb,
.order-table .product-item .product-thumb {
    width: 130px;
    padding-right: 20px
}

.shopping-cart .product-item .product-thumb>img,
.wishlist-table .product-item .product-thumb>img,
.order-table .product-item .product-thumb>img {
    display: block;
    width: 100%
}

@media screen and (max-width: 860px) {
    .shopping-cart .product-item .product-thumb,
    .wishlist-table .product-item .product-thumb,
    .order-table .product-item .product-thumb {
        display: none
    }
}

.shopping-cart .product-item .product-info span,
.wishlist-table .product-item .product-info span,
.order-table .product-item .product-info span {
    display: block;
    font-size: 13px
}

.shopping-cart .product-item .product-info span>em,
.wishlist-table .product-item .product-info span>em,
.order-table .product-item .product-info span>em {
    font-weight: 500;
    font-style: normal
}

.shopping-cart .product-item .product-title,
.wishlist-table .product-item .product-title,
.order-table .product-item .product-title {
    margin-bottom: 6px;
    padding-top: 5px;
    font-size: 16px;
    font-weight: 500
}

.shopping-cart .product-item .product-title>a,
.wishlist-table .product-item .product-title>a,
.order-table .product-item .product-title>a {
    transition: color .3s;
    color: #374250;
    line-height: 1.5;
    text-decoration: none
}

.shopping-cart .product-item .product-title>a:hover,
.wishlist-table .product-item .product-title>a:hover,
.order-table .product-item .product-title>a:hover {
    color: #0da9ef
}

.shopping-cart .product-item .product-title small,
.wishlist-table .product-item .product-title small,
.order-table .product-item .product-title small {
    display: inline;
    margin-left: 6px;
    font-weight: 500
}

.wishlist-table .product-item .product-thumb {
    display: table-cell !important
}

@media screen and (max-width: 576px) {
    .wishlist-table .product-item .product-thumb {
        display: none !important
    }
}

.shopping-cart-footer {
    display: table;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #e1e7ec
}

.shopping-cart-footer>.column {
    display: table-cell;
    padding: 5px 0;
    vertical-align: middle
}

.shopping-cart-footer>.column:last-child {
    text-align: right
}

.shopping-cart-footer>.column:last-child .btn {
    margin-right: 0;
    margin-left: 15px
}

@media (max-width: 768px) {
    .shopping-cart-footer>.column {
        display: block;
        width: 100%
    }
    .shopping-cart-footer>.column:last-child {
        text-align: center
    }
    .shopping-cart-footer>.column .btn {
        width: 100%;
        margin: 12px 0 !important
    }
}

.wrapper {
    max-width: 500px;
    margin: 50px auto;
}

.wrapper .card {
    max-width: 400px;
    min-height: 450px;
    margin: 30px;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 1.0);
    border-radius: 15px;
    cursor: pointer;
    padding: 0.8rem
}

.wrapper .card a {
    text-decoration: none;
    color: #eee
}

.wrapper .card a:hover {
    color: #fff
}

.wrapper .card .input-field {
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #eee;
    padding: 0.3rem
}

.wrapper .card .input-field input {
    background-color: inherit
}

.wrapper .card .input-field input.form-control,
.wrapper .card .input-field input.form-control:focus {
    border: none;
    outline: none;
    box-shadow: none;
    color: #eee
}

.wrapper .card .input-field button.btn {
    color: #eee;
    padding: 0rem;
    padding-right: 0.5rem
}

.wrapper .card .input-field button.btn:hover {
    color: #fff
}

.wrapper .card .input-field button.btn:focus {
    border: none;
    outline: none;
    box-shadow: none
}

.wrapper .card .input-field input::placeholder {
    color: #eee
}

.wrapper .card .option {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none
}

.wrapper .card .option span.text-light-white:hover {
    color: #fff
}

.wrapper .card .option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border-radius: 2px
}

.wrapper .card .option:hover input~.checkmark {
    background-color: #f1f1f1
}

.wrapper .card .option input:checked~.checkmark {
    border: none;
    background-color: #333;
    transition: 300ms ease-in-out all
}

.checkmark:after {
    content: "\2713";
    position: absolute;
    display: none;
    color: #fff;
    font-size: 1rem
}

.wrapper .card .option input:checked~.checkmark:after {
    display: block
}

.wrapper .card .option .checkmark:after {
    left: 3px;
    top: -3px;
    width: 5px;
    height: 10px
}

.wrapper .card .btn.btn-primary {
    border-radius: 20px;
    width: 100px;
    background-color: #fff;
    color: #333;
    border: none
}

.wrapper .card .btn.btn-primary:hover {
    color: #fff;
    background: #333
}

.wrapper .card .btn.btn-primary:focus {
    border: none;
    box-shadow: none
}

.wrapper .card .text-light-white {
    color: #ddd
}

.wrapper .card .line span.connect {
    position: absolute;
    top: -12px;
    left: 33%;
    color: #000;
    padding: 0 0.3rem;
    z-index: 100;
    border-radius: 2px;
    background-color: #fff
}

.wrapper .card .connections a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover
}

@media(max-width: 370px) {
    .wrapper .card .line:after {
        left: 27%
    }
}

@media(max-width: 350px) {
    .wrapper {
        margin: 10px auto
    }

    .wrapper .card {
        margin: 10px
    }
}



.theme-badge {
    color: #fff;
    background: #83C950;
    padding: 0.35rem 0.875rem;
    border-radius: 5rem;
    font-weight: 700;
    font-size: 0.875rem
}

a.theme-link {
    color: #141c25;
    text-decoration: underline;
    -webkit-text-decoration-color: rgba(20, 28, 37, 0.3);
    text-decoration-color: rgba(20, 28, 37, 0.3)
}

a.theme-link:hover {
    color: #3F9BD7;
    -webkit-text-decoration-color: rgba(63, 155, 215, 0.8);
    text-decoration-color: rgba(63, 155, 215, 0.8)
}

.btn {
    font-weight: 700;
    padding: 0.6rem 1.25rem;
    transition: all 0.4s ease-in-out;
    border: none;
    font-family: 'Montserrat', sans-serif
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none
    }
}

.btn:focus {
    box-shadow: none
}

.btn-primary {
    background: #3F9BD7
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none
}

.btn-ghost {
    background: none;
    border: 2px solid #fff;
    color: #fff
}

.btn-ghost:hover {
    background: #fff;
    color: #3F9BD7
}

.theme-bg-light {
    background: #f4f8fa
}

.theme-bg-dark {
    background: #3F9BD7
}

#topcontrol {
    transition: all 0.4s ease-in-out;
    background: #415b78;
    color: #fff;
    text-align: center;
    display: inline-block;
    z-index: 30;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding-top: 0.5rem;
    font-weight: 300;
    font-size: 1rem
}

@media (prefers-reduced-motion: reduce) {
    #topcontrol {
        transition: none
    }
}

#topcontrol:hover {
    background: #f4f8fa;
    color: #3F9BD7
}

.single-col-max {
    max-width: 800px
}

.header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: #fff;
    transition: all 0.4s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
    .header {
        transition: none
    }
}

.header-shrink {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1)
}

.header-shrink .logo {
    height: 20px;
    width: auto
}

.product-hero-section {
    padding-top: 8rem
}

.product-hero-section .product-name {
    font-size: 2rem
}

.product-hero-section .product-tagline {
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif
}

.product-hero-section .product-intro {
    font-size: 1rem
}

.product-figure {
    border: 1rem solid #f4f8fa;
    background: white
}

.product-details {
    background: #fff;
    padding: 2rem;
    border-radius: .25rem
}

.product-carousel {
    max-width: 700px;
    margin: 0 auto
}

.product-ratings .fa-star {
    color: #F7CE64
}

.product-price .price-prev {
    text-decoration: line-through;
    color: #5d80a8;
    font-size: 1.25rem;
    font-weight: 300
}

.product-price .price-current {
    font-size: 2.5rem;
    color: #3F9BD7;
    font-weight: bold
}

.product-price .price-note {
    color: #5d80a8
}

.product-price .theme-badge {
    vertical-align: super
}

.product-countdown {
    background: #3F9BD7;
    color: #fff;
    padding: 2rem;
    border-radius: .25rem
}

.product-countdown .countdown-intro {
    font-weight: 600;
    font-size: 1.25rem
}

.countdown-box .number {
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: 0.25rem
}

.countdown-box .unit {
    -webkit-opacity: .9;
    -moz-opacity: .9;
    opacity: .9;
    margin-right: 0.25rem;
    font-size: 0.75rem
}

.section {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.section .section-title {
    font-size: 1.75rem
}

.section .section-intro {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem
}

.theme-bg-dark .theme-link {
    color: white;
    -webkit-text-decoration-color: white;
    text-decoration-color: white
}

.theme-bg-dark .theme-link:hover {
    color: rgba(0, 0, 0, 0.5);
    -webkit-text-decoration-color: rgba(0, 0, 0, 0.5);
    text-decoration-color: rgba(0, 0, 0, 0.5)
}

.points-section .item {
    padding: 2rem 1rem;
    height: 100%;
    color: #fff
}

.points-section .item .media-icon img {
    width: 40px
}

.points-section .item .heading {
    font-size: 1.125rem;
    color: #fff
}

.features-carousel {
    padding: 1rem;
    background: white;
    border-radius: .25rem
}

.features-carousel .carousel-indicators {
    bottom: -3rem
}

.features-carousel .carousel-indicators li {
    background: #415b78;
    -webkit-opacity: .3;
    -moz-opacity: .3;
    opacity: .3;
    border: none;
    height: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 0.3rem;
    margin-right: 0.3rem
}

.features-carousel .carousel-indicators li.active {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1
}

.features-figure {
    padding: 1rem;
    background: white;
    border-radius: .25rem
}

.features-content-box {
    padding: 2rem 1rem;
    background: #f4f8fa
}

.features-content-box .icon-holder {
    display: inline-block;
    border-radius: 50%;
    background: white;
    width: 2.5rem;
    height: 2.5rem;
    padding-top: 0.65rem;
    text-align: center;
    color: #3F9BD7
}

.features-content-box .icon-holder .svg-inline--fa {
    text-align: center
}

.features-content-box .heading {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    font-weight: 500
}

.features-content-box .subheading {
    font-size: 1rem;
    margin-bottom: 0.25rem;
    font-weight: 600
}

.features-content-box .desc {
    padding-left: 3rem
}

.features-content-box .btn {
    margin-left: 3rem
}

.reviews-section .item-inner {
    padding: 0.5rem;
    background: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    transition: all 0.3s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
    .reviews-section .item-inner {
        transition: none
    }
}

.reviews-section .item-inner:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-top: -5px
}

.reviews-section .item-inner hr {
    margin-top: 0.5rem;
    margin-bottom: 1rem
}

.reviews-section .blockquote {
    font-size: 1rem
}

.reviews-section .product-ratings {
    font-size: 0.75rem
}

.reviews-section img.product-thumb {
    width: 60px !important
}

.reviews-section .product-link {
    font-size: 0.875rem
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #415b78
}

.owl-theme .owl-dots .owl-dot span {
    background: #c1cedd
}

.owl-theme .owl-nav [class*=owl-] {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    position: absolute;
    z-index: 10;
    top: 50%;
    margin: 0;
    margin-top: -1.5rem;
    padding-left: 4px;
    padding-top: 6px;
    outline: none !important
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    background: rgba(20, 28, 37, 0.5);
    color: white;
    outline: none !important
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background: rgba(20, 28, 37, 0.8)
}

.owl-theme .owl-nav .owl-next[class*=owl-] {
    right: 1rem
}

.owl-theme .owl-nav .owl-prev[class*=owl-] {
    left: 1rem
}

.related-section {
    padding-bottom: 2rem
}

.related-section .card {
    border-radius: 0;
    border: none;
    background: #f4f8fa;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    transition: all 0.3s ease-in-out;
    height: 100%;
    border: 1px solid #e5ecf4
}

@media (prefers-reduced-motion: reduce) {
    .related-section .card {
        transition: none
    }
}

.related-section .card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-top: -5px
}

.related-section .card-title {
    font-size: 1.125rem
}

.cta-section {
    color: #fff
}

.cta-section .content {
    font-size: 1.125rem
}

.footer {
    background: #141c25;
    color: #fff
}

.footer .copyright {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.8)
}

.footer a {
    color: #fff
}

.social-list li {
    font-size: 1.125rem;
    background: rgba(255, 255, 255, 0.5);
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 50%;
    padding-top: 2px
}

.social-list li a {
    color: #263546
}

.social-list li:hover {
    background: rgba(255, 255, 255, 0.9)
}

.social-list li:not(:last-child) {
    margin-right: 0.875rem
}

.payment-list li {
    color: rgba(255, 255, 255, 0.5)
}

.payment-list li:not(:last-child) {
    margin-right: 0.875rem
}

@media (min-width: 992px) {
    .product-hero-section .product-name {
        font-size: 2.5rem
    }

    .product-promo-wrapper {
        position: absolute;
        left: -6rem;
        top: 4rem
    }

    .features-carousel {
        max-width: 480px;
        position: absolute;
        left: 0;
        top: 3rem
    }

    .features-figure {
        max-width: 480px;
        position: absolute;
        left: 0;
        top: 3rem
    }

    .features-content-box {
        padding: 3rem;
        margin-left: 240px;
        padding-left: 280px
    }

    .features-wrapper-reverse .features-content-box {
        margin-left: 0;
        margin-right: 240px;
        padding-right: 280px;
        padding-left: 3rem
    }

    .features-wrapper-reverse .features-figure,
    .features-wrapper-reverse .features-carousel {
        left: inherit;
        right: 0
    }
}

@media (min-width: 1200px) {
    .features-carousel {
        max-width: 640px
    }

    .features-figure {
        max-width: 640px
    }

    .features-content-box {
        margin-left: 320px;
        padding-left: 365px
    }

    .features-wrapper-reverse .features-content-box {
        margin-left: 0;
        margin-right: 320px;
        padding-right: 365px;
        padding-left: 3rem
    }

    .features-wrapper-reverse .features-figure,
    .features-wrapper-reverse .features-carousel {
        left: inherit;
        right: 0
    }
}

.plus-minus {
    position: relative
}

.plus {
    position: absolute;
    top: -4px;
    left: 2px;
    cursor: pointer
}

.minus {
    position: absolute;
    top: 8px;
    left: 5px;
    cursor: pointer
}

.vsm-text:hover {
    color: #FF5252
}

.book,
.book-img {
    width: 120px;
    height: 180px;
    border-radius: 5px
}

.book {
    margin: 20px 15px 5px 15px
}

.border-top {
    border-top: 1px solid #EEEEEE !important;
    margin-top: 20px;
    padding-top: 15px
}

.card {
    margin: 40px 0px;
    padding: 40px 50px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2)
}

input,
textarea {
    background-color: #F3E5F5;
    padding: 8px 15px 8px 15px;
    width: 100%;
    border-radius: 5px !important;
    box-sizing: border-box;
    border: 1px solid #F3E5F5;
    font-size: 15px !important;
    color: #000 !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #9FA8DA;
    outline-width: 0;
    font-weight: 400
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.pay {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #673AB7;
    margin: 10px 20px 10px 0px;
    cursor: pointer;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2)
}

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    color: #E0E0E0
}

.gray .pay {
    box-shadow: none
}

#tax {
    border-top: 1px lightgray solid;
    margin-top: 10px;
    padding-top: 10px
}

.btn-blue {
    border: none;
    border-radius: 10px;
    background-color: #673AB7;
    color: #fff;
    padding: 8px 15px;
    margin: 20px 0px;
    cursor: pointer
}

.btn-blue:hover {
    background-color: #311B92;
    color: #fff
}

#checkout {
    float: left
}

#check-amt {
    float: right
}